.canciones{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 0px;
    color: white;
   
}
.cancion{
    width: 300px;
    margin: 10px;
}
h3{
    animation-duration: 2s;
    animation-name: slide;
    animation-iteration-count: infinite;
    animation-direction: alternate;


}
@keyframes slide{
    from{
        margin-left: 50%;
        width: 300%
    }
    to {
        margin-left: 35%;
        width: 300%;
      }
}
